In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris_df.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

## 1. Dataframe Object

In [3]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.

In [4]:
df.shape

(150, 5)

In [5]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width    target
sepal_length      1.000000    -0.117570      0.871754     0.817941  0.782561
sepal_width      -0.117570     1.000000     -0.428440    -0.366126 -0.426658
petal_length      0.871754    -0.428440      1.000000     0.962865  0.949035
petal_width       0.817941    -0.366126      0.962865     1.000000  0.956547
target            0.782561    -0.426658      0.949035     0.956547  1.000000

## 2. Series Object

- A column or a row in a df
- Similar to Python dict, "keys" --> "index"

In [6]:
sepal_len = df['sepal_length']
sepal_len

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [7]:
type(sepal_len)

pandas.core.series.Series

In [ ]:
sepal_len.

In [8]:
sepal_len.index

RangeIndex(start=0, stop=150, step=1)

In [9]:
sepal_len.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [10]:
sepal_len.sum()

876.5

## 3. Colums, Rows, Axis, Labels

In [11]:
df

     sepal_length  sepal_width  petal_length  petal_width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

- rows names are referred to as "index" in Pandas
- "labels" <--> "names"

In [12]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=150, step=1)

- Vertical axis: `axis = 0` / `axis ='index'` 
- Horizontal axis: `axis = 1` / `axis='columns'`

In [14]:
df.sum(axis=0)

sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
target          150.0
dtype: float64

In [15]:
df.sum(axis='index')

sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
target          150.0
dtype: float64

In [16]:
df.sum(axis=1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    19.2
146    17.7
147    18.7
148    19.3
149    17.8
Length: 150, dtype: float64